.chip {
  display: flex;
  align-items: center;
  gap: 0.5rem;
  background: var(--card);
  border: 1px solid var(--border);
  border-radius: 999px;
  padding: 0.35rem 0.75rem;
  font-size: 0.85rem;
  transition: 0.2s;

  &:hover {
    border-color: var(--accent);
    transform: translateY(-1px);
  }

  > img {
    width: 25px;
  }
}
