.hero {
  height: 60svh;

  .content {
    position: relative;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    margin: auto;
    height: 100%;
  }

  .introduction {
    display: flex;
    align-items: center;
  }

  .image {
    width: 100px;
  }

  img {
    width: 100%;
    border-radius: 50%;
  }

  .title {
    font-size: 6rem;
    font-weight: 800;
    text-align: center;
  }

  .immersive-portfolio {
    position: absolute;
    bottom: 0;
  }

  button {
    background-color: transparent;
    border-radius: 20px;
    height: 40px;

    &.icon {
      width: 40px;
      border-radius: 50%;
    }

    &.text {
      padding: 0 5px;
    }
  }
}
